@using PagedList;
@using PagedList.Mvc









@model IPagedList<UbitLibrarySystem.Models.Student_Details>
@{
    Layout ="~/Views/Shared/_LayoutForBooks.cshtml";
}
@*<style>
    table-wrapper {
        overflow: auto;
        height: 500px;
        width: 500px;
    }

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }



    /*table {
        display: block;
        overflow: scroll;
        height: 400px;
    }*/
</style>*@

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
<h2 align ="center">Student Details</h2>

<br />
<br />

<p>
    @using (Html.BeginForm("IndexforStudentsDetails", "Student_Details", FormMethod.Get))
    {
        <b>Search By : </b>@Html.RadioButton("searchBy", "Id", true)<text> Id    </text>
        @Html.RadioButton("searchBy", "Gender")<text> Gender   </text>
        @Html.RadioButton("searchBy", "Name")<text> Name   </text>

        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>
<br />
<br />







<div>
    


<table id="customers">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Student_id)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.First().Student_Name)
            </th>
           
            <th >
                @Html.DisplayNameFor(model => model.First().Gender)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.First().Date_Of_Birth)
            </th>
            <th >
               @Html.DisplayNameFor(model => model.First().Program)
            </th>
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{ 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_id)
            </td>
            <td>
       @Html.DisplayFor(modelItem => item.Student_Name)
          </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gender)            
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Date_Of_Birth)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Program)
            </td>    
            <td>

                @Html.ActionLink("Details", "DetailsforStudent", new { id = item.id })

            </td>    
        </tr>
        
        }
    </tbody>
</table>

<center>
    @Html.PagedListPager(Model, page =>
Url.Action("Index", new
{
    page,
    searchBy = Request.QueryString["searchBy"]
    ,
    search = Request.QueryString["search"]
}), new PagedListRenderOptions()
{ Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })
</center>

</div>
